img {
  position: absolute;
  top: 150px;
  left: 550px;
  width: auto;
}

.bar {
  position: absolute;
  border-style:solid;
  border-radius: 25px;
  top: 275px;
  left: 380px;
  width: 600px;
  height: 40px;
  opacity: 80%;
  border-color: lightgray;
  background-color:white;
  border-width: 1px;
}
.go {
  position: absolute;
  border-radius:0%;
  border-radius: 3px;
  top: 350px;
  left: 550px;
  height:40px;
  width:125px;
  opacity: 50%;
  background-color:lightgray;
  text-align: center;
  border-style: none;
}
.go:hover {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  opacity:80%;
  transition:0.2s ;
}
.lucky {
  position: absolute;
  border-radius:0%;
  border-radius: 3px;
  top: 350px;
  left: 690px;
  height: 40px;
  width: 125px;
  opacity: 50%;
  background-color: LightGray;
  text-align: center;
  border-style: none;
}
.lucky:hover {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  opacity:80%;
  transition:0.2s ;
}

.img {
  position: absolute;
  right: 180px;
  top: 30px;
  font-size: smaller;
  font-family: sans-serif;
  text-decoration:none ;
  color: black;
}
.adv {
  position: absolute;
  right: 60px;
  top: 30px;
  font-size: smaller;
  font-family: sans-serif;
  text-decoration: none;
  color: black;
}
.img:hover {
  text-decoration: underline;
  transition:0.3s ;
}
.adv:hover {
  text-decoration:underline;
  transition: 0.3s;
}