img {
  position: absolute;
  top: 150px;
  left: 550px;
  width: auto;
}
#images {
  position:absolute;
  left: 1230px;
  text-decoration-color: blue;
}
#images:hover {
  text-decoration-color: violet;
}
.bar {
  position: absolute;
  border-style:solid;
  border-radius: 25px;
  top: 275px;
  left: 400px;
  width: 570px;
  height: 40px;
  opacity: 80%;
  border-block-color: lightgray;
  background-color:white;
  border-block-width: 1px;
}
.go {
  position: absolute;
  border-radius:0%;
  border-radius: 3px;
  top: 350px;
  left: 550px;
  height:40px;
  width:130px;
  opacity: 50%;
  background-color:lightgray;
  text-align: center;
  border-style: none;
}
.go:hover {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  opacity:80%;
  transition:0.2s ;
}
.lucky {
  position: absolute;
  border-radius:0%;
  border-radius: 3px;
  top: 350px;
  left: 700px;
  height: 40px;
  width: 130px;
  opacity: 50%;
  background-color: LightGray;
  text-align: center;
  border-style: none;
}
.lucky:hover {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  opacity:80%;
  transition:0.2s ;
}
#adv {
    position:absolute;
    left: 1100px;
    text-decoration-color: blue;
}
.adv  {
  position: absolute;
  right: 70px;
  background-color: LightGray;
  text-align: center;
  border-style: none;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  top: 10px;
  font-family: fantasy;
}
.img {
  position: absolute;
  right: 250px;
  background-color: LightGray;
  text-align: center;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  top: 10px;
  border-style: none;
  font-family: fantasy;
}
.img:hover{
  background-color: #1889f2
}
.adv:hover{
  background-color: #f04646
}
